@*@model Library.Reply*@
@using Library;
@model IEnumerable<Library.Reply>

@*@using Web.Models;
    @model MessageReply*@
@Html.Hidden("MessageId", "1")

@foreach (Reply item in Model)
{
    <div class="card-title">
        @*@Html.Hidden("MessageId", "36")*@
        <ul>
            @Html.Label("model.UserName", "會員暱稱")  : @Html.DisplayFor(modelItem => item.UserName)
        </ul>
        <ul>
            @Html.Label("model.Context", "留言內容") :  @Html.DisplayFor(modelItem => item.Context)
        </ul>
        <ul>
            @Html.Label("model.CreatDate", "留言日期") : @Html.DisplayFor(modelItem => item.CreatDate)
        </ul>
        <hr />
    </div>
}

@*<div>
        <h4>回覆</h4>

        <hr />
        <dl class="dl-horizontal">
            <ul>
                @Html.DisplayNameFor(model => model.UserName)
            </ul>

            <ul>
                @Html.DisplayFor(model => model.UserName)
            </ul>

            <ul>
                @Html.DisplayNameFor(model => model.Context)
            </ul>

            <ul>
                @Html.DisplayFor(model => model.Context)
            </ul>

        </dl>

    </div>*@