@*@model IEnumerable<Library.User>*@
@using Library.WebShare;

@model Library.User

@{
    /**/

    ViewBag.Title = "登入";
}
<h2>登入</h2>
@using (Html.BeginForm("Login", "User"))
{
    <table>
        <tr>
            <td>
                @Html.HiddenFor(model => model.Id)
                @Html.LabelFor(model => model.UserAccount)
            </td>
            <td>
            </td>
            <td>
                @Html.TextBoxFor(model => model.UserAccount)
                @Html.ValidationMessageFor(model => model.UserAccount)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.Password)
            </td>
            <td></td>
            <td>
                @Html.PasswordFor(model => model.Password)
                @Html.ValidationMessageFor(model => model.Password)
            </td>
        </tr>
        <tr>
            <td colspan="2">
                @Html.ValidationSummary()
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <div class="form-group">
                    <input type="submit" value="登入" class="btn btn-primary btn-sm center" style="margin-top:5px ;margin-bottom:5px;" />
                    <br />
                    <input type="button" class="btn btn-primary btn-sm " style="margin-top:5px ;margin-bottom:10px;" value="註冊" onclick="location.href='@Url.Action("Create", "User")'">
                </div>
            </td>
        </tr>
    </table>
}
