@using Library;
@model IEnumerable<Library.Message>
@{
    ViewBag.Title = "留言板";
}

<div class="row">
    <h2>留言板</h2>
    <div class="table-responsive">
        <div class="col-sm-7">
            <button type="button" class="btn btn-primary btn-sm " style="margin-top:10px ;margin-bottom:10px;" value="建立新的留言" onclick="location.href='@Url.Action("Create", "Message")'">建立新的留言</button>
        </div>

        <div class="col-sm-7">
            @foreach (Message item in Model)
            {
                using (Html.BeginForm("Delete", "Message", new { id = item.Id }))
                {
                <div class="card">
                    <div class="card-header">
                        <ul>
                            @Html.Label("model.UserName", "會員暱稱")  : @Html.DisplayFor(modelItem => item.UserName)
                        </ul>
                        <ul>
                            @Html.Label("model.Context", "留言內容") :  @Html.DisplayFor(modelItem => item.Context)
                        </ul>
                        <ul>
                            @Html.Label("model.CreatDate", "留言日期") : @Html.DisplayFor(modelItem => item.CreatDate)
                        </ul>
                        <input type="button" class="btn btn-primary btn-sm" value="回覆" onclick="location.href='@Url.Action("Create", "Reply", new {  messageId = item.Id })'" />
                    </div>
                    <div class="card-body">
                        <h5>回覆</h5>
                        @using (Html.BeginForm("Index2", "Message"))
                        {
                        @Html.EditorForModel()
                        <br />
                        @*<input type="submit" value="Submit" />*@
                        }
                        @*@Html.Partial("_ReplyPartial", Model)*@
                        @*@Html.Partial("_ReplyPartial", new { messageId = item.Id }))*@
                    </div>
                </div>
                }
            }
        </div>
    </div>
</div>


