@using Library;
@model List<MessageReply>
@{
    ViewBag.Title = "留言板";
    int Id = 0;
    byte UserClass = 0;

    if (Session["Id"] != null)
    {
        int.TryParse(Session["Id"].ToString(), out Id);
        byte.TryParse(Session["UserClass"].ToString(), out UserClass);
    }

}

<div class="row">
    <h2>留言板</h2>
    @if (Session["UserAccount"] != null)
    {
    <h5>@ViewBag.UserName ,你好</h5>
    <h5>帳號: @ViewBag.Id</h5>
    <h5>會員類別:@ViewBag.Userclass</h5>
    }
    <div class="table-responsive">
        <div class="col-sm-7">
            <button type="button" class="btn btn-primary btn-sm " style="margin-top:10px ;margin-bottom:10px;" value="建立新的留言" onclick="location.href='@Url.Action("Create", "Message")'">建立新的留言</button>
        </div>

        <div class="col-sm-7">
            @foreach (MessageReply item in Model)
            {
                using (Html.BeginForm("Delete", "Message", new { id = item.Messages.Id }))
                {
                    <div class="card">
                        <div class="card-header">
                            <ul>
                                @Html.Label("會員暱稱")  : @Html.DisplayFor(modelItem => item.Messages.UserName)
                            </ul>
                            <ul>
                                @Html.Label("留言內容") :  @Html.DisplayFor(modelItem => item.Messages.Context)
                            </ul>
                            <ul>
                                @Html.Label("留言日期") : @Html.DisplayFor(modelItem => item.Messages.CreatDate)
                            </ul>
                            @if (UserClass == 2)
                            {
                              <input type="submit" class="btn btn-primary btn-sm" value="刪除" onclick="return confirm('確定要刪除嗎? 名稱 = @item.Messages.UserName , 留言內容 = @item.Messages.Context');" />
                            }
                        </div>
                        <div class="card-body">
                            <h5>回覆內容</h5>
                            @foreach (Reply reply in item.ReplyList)
                            {
                        <ul>
                            @Html.Label("會員暱稱")  : @Html.DisplayFor(modelItem => reply.UserName)
                        </ul>
                        <ul>
                            @Html.Label("回覆內容") :  @Html.DisplayFor(modelItem => reply.Context)
                        </ul>
                        <ul>
                            @Html.Label("回覆日期") :  @Html.DisplayFor(modelItem => reply.CreatDate)
                        </ul>
                                if(UserClass == 2)
                                {
                                  <input type="submit" class="btn btn-primary btn-sm" value="刪除" onclick="return confirm('確定要刪除嗎? 名稱 = @reply.UserName , 回覆內容 = @reply.Context');" />
                                 }
                                <hr />
                            }
                                                    
                            <input type="button" class="btn btn-primary btn-sm" value="回覆" onclick="location.href='@Url.Action("Create", "Reply", new {  messageId = item.Messages.Id })'" />
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>


