@using Library;
@model List<MessageReply>

<h2>會員留言列表</h2>
<div class="row">
    <div class="table-responsive">
        <table class="table">
            <tr>
                <th>
                    @Html.Label("model.Id", "留言編號")
                </th>
                <th>
                    @Html.Label("model.UserId", "會員編號")
                </th>
                <th>
                    @Html.Label("model.UserName", "會員暱稱")
                </th>
                <th>
                    @Html.Label("model.Context", "留言內容")
                </th>
                <th>
                    @Html.Label("model.CreatDate", "留言日期")
                </th>
                <th></th>
            </tr>

            @foreach (MessageReply item in Model)
            {
                using (Html.BeginForm("Delete", "Message", new { id = item.Messages.Id }))
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Messages.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Messages.UserId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Messages.UserName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Messages.Context)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Messages.CreatDate)
                        </td>
                        <td>
                            <input type="button" class="btn btn-primary btn-sm" value="回覆" onclick="location.href='@Url.Action("Create", "Reply", new{ id = item.Messages.Id })'" />
                            <input type="submit" class="btn btn-primary btn-sm" value="刪除" onclick="return confirm('確定要刪除嗎? 留言編號 = @item.Messages.Id , 留言內容 = @item.Messages.Context');" />
                        </td>
                    </tr>
                }
            }


        </table>
    </div>
</div>